@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    --ff-primary: "Open Sans", sans-serif;
    --ff-secondary: "Source Sans Pro", sans-serif;
    --ff-mono: "Fira Code", monospace;

    --fs-h1: 2.1rem;
    --fs-h2: 1.8rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
    --fs-body: 1rem;

    --clr-black: #111111;
    --clr-dark: #212225;
    --clr-darkest-grey: #2a2b2f;
    --clr-even-darker-grey: #303136;
    --clr-darker-grey: #36373c;
    --clr-dark-grey: #37393f;
    --clr-grey: #3a3c43;
    --clr-light-grey: #40444b;
    --clr-lighter-grey: #8e9297;
    --clr-even-lighter-grey: #dcddde;
    --clr-lightest-grey: #babbbe;
    --clr-light: #ffffff;
    --clr-blue: #00b0f4;
    --clr-green: #43b581;
    --clr-red: #f04847;
    --clr-discord: #7289da;

    height: 100%;

    scroll-behavior: smooth;

    overflow: hidden;
    overscroll-behavior: none;
}

body {
    margin: 0;
    height: 100%;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--clr-dark-grey);
    color: var(--clr-light);
}

h1,
h2,
h3,
h4,
p {
    line-height: 1.4;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

p {
    font-size: var(--fs-body);
}

a {
    cursor: pointer;
    color: var(--clr-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 660px) {
    html {
        --fs-h1: 2.2rem;
        --fs-h2: 1.95rem;
        --fs-h3: 1.45rem;
        --fs-h4: 1.3rem;
        --fs-body: 1rem;
    }
}

@media (min-width: 800px) {
    html {
        --fs-h1: 2.25rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.35rem;
        --fs-body: 1.05rem;
    }
}

@media (min-width: 1000px) {
    html {
        --fs-h1: 2.3rem;
        --fs-h2: 2.1rem;
        --fs-h3: 1.6rem;
        --fs-h4: 1.4rem;
        --fs-body: 1.05rem;
    }
}

@media (min-width: 1200px) {
    html {
        --fs-h1: 2.3rem;
        --fs-h2: 2.1rem;
        --fs-h3: 1.65rem;
        --fs-h4: 1.4rem;
        --fs-body: 1.1rem;
    }
}

@media (min-width: 1500px) {
    html {
        --fs-h1: 2.35rem;
        --fs-h2: 2.2rem;
        --fs-h3: 1.7rem;
        --fs-h4: 1.5rem;
        --fs-body: 1.1rem;
    }
}

@media (min-width: 1750px) {
    html {
        --fs-h1: 2.4rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.8rem;
        --fs-h4: 1.6rem;
        --fs-body: 1.15rem;
    }
}

@media (min-width: 2000px) {
    html {
        --fs-h1: 2.4rem;
        --fs-h2: 2.3rem;
        --fs-h3: 1.9rem;
        --fs-h4: 1.6rem;
        --fs-body: 1.2rem;
    }
}

/*  */

.tooltip-left {
    position: relative;
}

.tooltip-left .tooltiptext-left {
    pointer-events: none;
    opacity: 0;
    width: max-content;
    background-color: var(--clr-black);
    color: var(--clr-light);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 120%;
    transition: 0.1s opacity ease;
    display: flex;
    user-select: none;
}

.tooltip-left .tooltiptext-left::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip-left:hover .tooltiptext-left {
    opacity: 1;
}

.tooltiptext-left span {
    font-size: 0.9rem;
    flex-shrink: 0;
    margin: 2px 8px;
}

/*  */

.tooltip-top {
    position: relative;
}

.tooltip-top .tooltiptext-top {
    pointer-events: none;
    opacity: 0;
    width: max-content;
    background-color: var(--clr-black);
    color: var(--clr-light);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -120%;
    transition: 0.1s opacity ease;
    display: flex;
    user-select: none;
}

.tooltip-top .tooltiptext-top::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-top:hover .tooltiptext-top {
    opacity: 1;
}

.tooltiptext-top span {
    font-size: 0.75rem;
    flex-shrink: 0;
    margin: 2px 12px;
}

.green-tooltiptext {
    color: var(--clr-light) !important;
    background-color: var(--clr-green) !important;
}

.green-tooltiptext::after {
    border-color: var(--clr-green) transparent transparent transparent !important;
}

.red-tooltiptext {
    color: var(--clr-light) !important;
    background-color: var(--clr-red) !important;
}

.red-tooltiptext::after {
    border-color: var(--clr-red) transparent transparent transparent !important;
}
